.page-header {
    color: rgb(69, 136, 114);
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

a:hover {
    color: green;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-light-grey {
    background-color: #d3d3d3;
}

.bg-bisque {
    background-color: #ffe4c4;
}